{{ section.settings.custom_liquid }}
<section
  id="contact-form-section-{{ section.id }}"
  class="
    contact-form-section
    {{ section.settings.bg_color }}
    {{ section.settings.bg_gradient }}
    {{ section.settings.text_color }}
    {{ section.settings.border_top_width | prepend: 'border-top-' }}
    {{ section.settings.border_bottom_width | prepend: 'border-bottom-' }}
    {{ section.settings.border_color }}
    {{ section.settings.pt | prepend: 'pt-' }}
    {{ section.settings.pb | prepend: 'pb-' }}
  "
  style="
    --bs-bg-opacity: {{ section.settings.bg_opacity | append: '%' }};
    --bs-border-opacity: {{ section.settings.border_opacity | append: '%' }};
  "
>
  <div
    class="container"
    style="max-width: {{ section.settings.container_max_width }}px"
  >
    <div class="row align-items-center">
      <div class="col-desktop-18">hi how are you</div>
    </div>
  </div>
</section>

{% schema %}
{
   "name": "Custom Liquid",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "Custom Liquid"
   }]
}
{% endschema %}
